.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header h1 {
  font-size: 1.5rem;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-main {
  padding: 20px;
  margin-top: 20px;
}

label {
  margin: 5px;
  font-size: 16px;
}

select {
  margin: 5px;
  padding: 10px;
  width: 150px;
  font-size: 16px;
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Rounded corners */
  background-color: #f9f9f9; /* Background color */
  color: #333; /* Text color */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

select:focus {
  border-color: #61dafb; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

input[type="text"] {
  margin: 10px;
  padding: 10px;
  width: 200px;
  font-size: 16px;
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Rounded corners */
  background-color: #f9f9f9; /* Background color */
  color: #333; /* Text color */
  transition: border-color 0.3s; /* Smooth transition for border color */
}

input[type="text"]:focus {
  border-color: #61dafb; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

button {
  margin: 10px;
  background-color: #282c34; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Add transition for background and transform */
  border-radius: 4px; /* Rounded corners */
}

button:hover {
  background-color: #3e4451; 
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

.result {
  margin-top: 20px;
  text-align: left;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.result pre {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  overflow-x: auto;
}


.audio-label {
  color: grey;
}

.App-logo {
  height: 40px; /* Adjust the size as needed */
  margin-right: 10px;
  animation: none; /* Disable animation for the logo */
}